<!DOCTYPE html>
<html>
  <head>
    <title>HarvestTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render HeaderComponent.new %>
    <%= render NavbarComponent.new %>
    <main class="border grid mx-auto mt-3 px-5 grid-cols-4 gap-3">
      <div class='border col-span-3 p-2'>
        <%= yield %>
      </div>
      <div class="col-span-1 border p-2">
        <%= render SidebarComponent.new %>
      </div>
    </main>
  </body>
</html>
